In [2]:
"|IMPORT PACKAGES|"
import pandas             as pd
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation
from   bokeh.models.tools import HoverTool

In [18]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,AP, DL", skiprows=2, nrows=28, engine='openpyxl') # Be patient...

data = data.rename(columns={"IPC-Congreso":"IPC"})

cds = ColumnDataSource(data)

In [19]:
"|CHECK DATA|"
data

         YEAR  IPC-Congreso      GASTOS
0  1993-12-31           NaN         NaN
1  1994-12-31           NaN         NaN
2  1995-12-31           NaN         NaN
3  1996-12-31           NaN         NaN
4  1997-12-31           NaN         NaN
5  1998-12-31     48.575080    53921.10
6  1999-12-31     47.695650    53963.20
7  2000-12-31     47.347660    52748.60
8  2001-12-31     46.615410    48999.30
9  2002-12-31     65.702800    52823.00
10 2003-12-31     68.108200    68526.40
11 2004-12-31     72.260600    87745.20
12 2005-12-31     81.169600   106765.10
13 2006-12-31     89.155900   135356.31
14 2007-12-31    112.057949   138355.32
15 2008-12-31    137.823588   186605.70
16 2009-12-31    158.240739   242928.62
17 2010-12-31    198.300880   325373.70
18 2011-12-31    243.468477   429922.60
19 2012-12-31    305.008343   554775.53
20 2013-12-31    391.628183   740393.30
21 2014-12-31    541.720599  1061780.99
22 2015-12-31    692.104719  1427989.50
23 2016-12-31    973.873408  1972834.30
24 2017-12-31   1213.322658  2402204.70
25 2018-12-31   1791.290851  2939546.90
26 2019-12-31   2758.155497  4032152.80
27 2020-12-31           NaN  6589888.14

In [17]:
"|CALCULATE NEEDED DATA|"
data["GASTOS_100"] = (data["GASTOS"]/data.iloc[5, 1])*100
data

         YEAR      GASTOS    GASTOS_100
0  1993-12-31         NaN           NaN
1  1994-12-31         NaN           NaN
2  1995-12-31         NaN           NaN
3  1996-12-31         NaN           NaN
4  1997-12-31         NaN           NaN
5  1998-12-31    53921.10    100.000000
6  1999-12-31    53963.20    100.078077
7  2000-12-31    52748.60     97.825527
8  2001-12-31    48999.30     90.872219
9  2002-12-31    52823.00     97.963506
10 2003-12-31    68526.40    127.086428
11 2004-12-31    87745.20    162.728876
12 2005-12-31   106765.10    198.002452
13 2006-12-31   135356.31    251.026611
14 2007-12-31   138355.32    256.588460
15 2008-12-31   186605.70    346.071760
16 2009-12-31   242928.62    450.526083
17 2010-12-31   325373.70    603.425561
18 2011-12-31   429922.60    797.317933
19 2012-12-31   554775.53   1028.865379
20 2013-12-31   740393.30   1373.104963
21 2014-12-31  1061780.99   1969.138222
22 2015-12-31  1427989.50   2648.294452
23 2016-12-31  1972834.30   3658.742681
24 2017-12-31  2402204.70   4455.036526
25 2018-12-31  2939546.90   5451.570721
26 2019-12-31  4032152.80   7477.875637
27 2020-12-31  6589888.14  12221.353311