In [22]:
"|IMPORT PACKAGES|"
import pandas             as pd
import datetime
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label 
from   bokeh.models       import BoxAnnotation, DatetimeTickFormatter, Span
from   bokeh.transform    import dodge
from   bokeh.models.tools import HoverTool

In [50]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B, DT:DU", skiprows=2, nrows=28, engine='openpyxl') # Be patient...
data = data.dropna()

data["YEAR"] = data["YEAR"].dt.year
data = data.rename(columns={"INTERESES (SIN INTRA-SECTOR PUBLICO)/INGRESOS":"INTERESES1"})
data = data.rename(columns={"INTERESES (CON INTRA-SECTOR PUBLICO)/INGRESOS":"INTERESES2"})

data["INTERESES1"] = data["INTERESES1"]*100
data["INTERESES2"] = data["INTERESES2"]*100

In [51]:
"|CHECK DATA|"
data

    YEAR  INTERESES1  INTERESES2
5   1998   16.501085   16.501085
6   1999   21.290543   21.290543
7   2000   23.741265   23.741265
8   2001   27.377128   27.377128
9   2002   17.009122   17.009122
10  2003   11.332044   11.332044
11  2004    6.823109    6.823109
12  2005   10.038190   10.038190
13  2006    9.291000    9.291000
14  2007   15.016052   15.016052
15  2008   12.031459   12.031459
16  2009   16.253084   16.253084
17  2010   10.689598   10.689598
18  2011   13.478343   13.478343
19  2012   15.533101   15.533101
20  2013   10.383792   10.383792
21  2014   12.629751   12.629751
22  2015   17.048492   22.927913
23  2016   18.967996   24.496351
24  2017   20.125700   27.493797
25  2018   27.494564   36.326212
26  2019   32.785291   41.406707
27  2020   18.980459   22.782664

In [56]:
"|BUILD PLOT|"

data["COLORS"] = ["blue"          , "blue",
                  "red"           , "red" ,
                  "navy"          , "navy",
                  "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue", 
                  "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue", "lightsteelblue",
                  "gold"          , "gold"          , "gold"          , "gold", 
                  "lightsteelblue"]

cds = ColumnDataSource(data)

#BUILD FIGURE
p = figure(title        = "INGRESOS/INGRESOS DEL TESORO",
           x_axis_label = "AÃ±o",
           y_axis_label = "PBI (tasa de crecimiento)",
#           x_range      = (1994, 2019),
           y_range      = (0, 40),
           plot_height  = 400,
           plot_width   = 700)

p.toolbar_location = "above"
p.toolbar.autohide = True
#p.add_tools(HoverTool(tooltips = [("AÃ±o", "@YEAR"), ("%PBI (1993)", "@1993"), ("%PBI (2004)", "@2004"), ("2005=100", "@Y_100")]))


#AXIS 1 (LEFT)
p.vbar(x=dodge('YEAR', -0.20, range=p.x_range), top='INTERESES1', fill_color="COLORS", width=0.4, fill_alpha=0.50, legend_label="Sin intereses intra sector publico", muted_alpha=0.2, source=cds)
p.vbar(x=dodge('YEAR',  0.20, range=p.x_range), top='INTERESES2', fill_color="COLORS", width=0.4, fill_alpha=0.50, legend_label="Con inteteses intra sector publico", muted_alpha=0.2, source=cds)


#LEGEND
p.legend.location     = "top_left"
p.legend.orientation  = "horizontal"
p.legend.click_policy = "mute"
show(p)

ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "fill_color" value "COLORS" [renderer: GlyphRenderer(id='3414', ...)]
ERROR:bokeh.core.validation.check:E-1001 (BAD_COLUMN_NAME): Glyph refers to nonexistent column name. This could either be due to a misspelling or typo, or due to an expected column being missing. : key "fill_color" value "COLORS" [renderer: GlyphRenderer(id='3433', ...)]

In [57]:
data

    YEAR  INTERESES1  INTERESES2          colors          COLORS
5   1998   16.501085   16.501085            blue            blue
6   1999   21.290543   21.290543            blue            blue
7   2000   23.741265   23.741265             red             red
8   2001   27.377128   27.377128             red             red
9   2002   17.009122   17.009122            navy            navy
10  2003   11.332044   11.332044            navy            navy
11  2004    6.823109    6.823109  lightsteelblue  lightsteelblue
12  2005   10.038190   10.038190  lightsteelblue  lightsteelblue
13  2006    9.291000    9.291000  lightsteelblue  lightsteelblue
14  2007   15.016052   15.016052  lightsteelblue  lightsteelblue
15  2008   12.031459   12.031459  lightsteelblue  lightsteelblue
16  2009   16.253084   16.253084  lightsteelblue  lightsteelblue
17  2010   10.689598   10.689598  lightsteelblue  lightsteelblue
18  2011   13.478343   13.478343  lightsteelblue  lightsteelblue
19  2012   15.533101   15.533101  lightsteelblue  lightsteelblue
20  2013   10.383792   10.383792  lightsteelblue  lightsteelblue
21  2014   12.629751   12.629751  lightsteelblue  lightsteelblue
22  2015   17.048492   22.927913  lightsteelblue  lightsteelblue
23  2016   18.967996   24.496351            gold            gold
24  2017   20.125700   27.493797            gold            gold
25  2018   27.494564   36.326212            gold            gold
26  2019   32.785291   41.406707            gold            gold
27  2020   18.980459   22.782664  lightsteelblue  lightsteelblue