In [39]:
"|IMPORT PACKAGES|"
import pandas             as pd
from   bokeh.plotting     import show, figure, output_file, save
from   bokeh.io           import show, output_notebook, curdoc, export_png
from   bokeh.models       import ColumnDataSource,LinearAxis, Range1d, NumeralTickFormatter, LabelSet, Label, BoxAnnotation
from   bokeh.models.tools import HoverTool

In [40]:
"|IMPORT DATA|"
path = r'https://github.com/ncachanosky/research/blob/master/Economic%20Series/'
file = r'Resumen%20Estadistico%20-%20Argentina.xlsx?raw=true'
IO   = path + file

sheet = 'ANUAL'

data = pd.read_excel(IO, sheet_name = sheet, usecols="B,AP, DL", skiprows=2, nrows=28, engine='openpyxl') # Be patient...

data = data.rename(columns={"IPC-Congreso":"IPC"})

cds = ColumnDataSource(data)

In [43]:
"|CHECK DATA|"
data.head(10)

        YEAR       IPC   GASTOS
0 1993-12-31       NaN      NaN
1 1994-12-31       NaN      NaN
2 1995-12-31       NaN      NaN
3 1996-12-31       NaN      NaN
4 1997-12-31       NaN      NaN
5 1998-12-31  48.57508  53921.1
6 1999-12-31  47.69565  53963.2
7 2000-12-31  47.34766  52748.6
8 2001-12-31  46.61541  48999.3
9 2002-12-31  65.70280  52823.0

In [49]:
"|CALCULATE NEEDED DATA|"
data["GASTOS_REAL"] = data["GASTOS"] * data["IPC"] / data.iloc[5,1]
data["GASTOS_100"]  = data["GASTOS_REAL"].div(data.iloc[5,3]) * 100
#data["GASTOS_100"]  = (data["GASTOS_REAL"] * data.iloc[5, 4])*100
data

         YEAR          IPC      GASTOS   GASTOS_REAL     GASTOS_100
0  1993-12-31          NaN         NaN           NaN            NaN
1  1994-12-31          NaN         NaN           NaN            NaN
2  1995-12-31          NaN         NaN           NaN            NaN
3  1996-12-31          NaN         NaN           NaN            NaN
4  1997-12-31          NaN         NaN           NaN            NaN
5  1998-12-31    48.575080    53921.10  5.392110e+04     100.000000
6  1999-12-31    47.695650    53963.20  5.298622e+04      98.266208
7  2000-12-31    47.347660    52748.60  5.141572e+04      95.353621
8  2001-12-31    46.615410    48999.30  4.702252e+04      87.206151
9  2002-12-31    65.702800    52823.00  7.144855e+04     132.505734
10 2003-12-31    68.108200    68526.40  9.608239e+04     178.190707
11 2004-12-31    72.260600    87745.20  1.305303e+05     242.076518
12 2005-12-31    81.169600   106765.10  1.784059e+05     330.864711
13 2006-12-31    89.155900   135356.31  2.484363e+05     460.740434
14 2007-12-31   112.057949   138355.32  3.191722e+05     591.924431
15 2008-12-31   137.823588   186605.70  5.294622e+05     981.920187
16 2009-12-31   158.240739   242928.62  7.913771e+05    1467.657501
17 2010-12-31   198.300880   325373.70  1.328292e+06    2463.399333
18 2011-12-31   243.468477   429922.60  2.154862e+06    3996.324516
19 2012-12-31   305.008343   554775.53  3.483497e+06    6460.360423
20 2013-12-31   391.628183   740393.30  5.969293e+06   11070.421317
21 2014-12-31   541.720599  1061780.99  1.184123e+07   21960.287810
22 2015-12-31   692.104719  1427989.50  2.034620e+07   37733.279886
23 2016-12-31   973.873408  1972834.30  3.955301e+07   73353.501487
24 2017-12-31  1213.322658  2402204.70  6.000298e+07  111279.214705
25 2018-12-31  1791.290851  2939546.90  1.084009e+08  201036.184681
26 2019-12-31  2758.155497  4032152.80  2.289508e+08  424603.393178
27 2020-12-31          NaN  6589888.14           NaN            NaN